* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}

/*INICIO Header*/
header {
  width: 100%;
  z-index: 1;
}

.nav {
  width: 100%;
  position: fixed;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 4rem;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2rem;
}

.nav div.main_list ul li a:hover {
  color: #BCBFDE;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
}


/* Home section */

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* ESTA MEDIA QUERY ES PARA PC, SE DEBE COPIAR EN TODOS LOS HEADERS */

@media screen and (min-width: 308px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }

  .img_header{
      height: 272px;
  }

  #cont {
      padding-top: 85%;
  }
}

/* ESTA MEDIA QUERY ES PARA TABLETS */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }


  #cont {
      padding-top: 85%;
  }
}

/* ESTA MEDIA QUERY ES PARA CELULAR*/

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }

  #cont {
      padding-top: 85%;
  }

  .nav div.logo {
      margin-left: 15px;
  }

  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }

  .nav div.show_list {
      height: auto;
      display: none;
  }

  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      background-position: center top;
  }

  .nav div.main_list ul li {
      width: 100%;
      text-align: right;
  }

  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      font-size: 2rem;
      padding: 20px;
  }

  .nav div.media_button {
      display: block;
  }
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.affix {
  padding: 0;
  background-color: rgba(17, 17, 17, 0.364);
}

#cont {
  padding-top: 25%;
}

@media all and (max-width:700px) {
  .myP {
      padding: 2%;
  }
}

.header h1 {
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.473);
  text-align: center;
  font-size: 7rem;
}

.header {
  color: white;
  background-image: url(../img/header3.png);
  background-size:cover;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: animacion_header;
  animation-duration: 1s;
}

@keyframes animacion_header {
  0% {color: rgba(255, 255, 255, 0);}
  25% {color: rgba(255, 255, 255, 0.250);}
  50% {color: rgba(255, 255, 255, 0.500);}
  75% {color: rgba(255, 255, 255, 0.750);}
  100% {color: white;}
}
/*FIN Header*/

.sc-main-child {
  background: #BCBFDE;
  width: 100%;
}

.child-one {
  padding: 30px;
}

.text-center {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin-bottom: 20px;
}

/* INICIO iframe Hubble birthday */ 
.hubble-iframe-container {
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  border-radius: 6px;
}

.hubble-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hubble-iframe-container {
    padding-bottom: 85%;
  }
}

@media screen and (min-width: 710px) and (max-width: 722px) {
  .hubble-iframe-container {
    padding-bottom: 130%;
  }
}

@media screen and (min-width: 625px) and (max-width: 709px) {
  .hubble-iframe-container {
    padding-bottom: 150%;
  }
}

@media screen and (min-width: 480px) and (max-width: 624px) {
  .hubble-iframe-container {
    padding-bottom: 160%;
  }
}
/* FIN iframe Hubble birthday */ 

/* INICIO galería y lightbox */
.image-gallery-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1em 1em; 
  grid-template-areas: 
    "img-1 img-2 img-3 img-4"
    "img-5 img-6 img-7 img-8"
    "img-9 img-10 img-11 img-12"; 
}

.img-1 { grid-area: img-1; }
.img-2 { grid-area: img-2; }
.img-3 { grid-area: img-3; }
.img-4 { grid-area: img-4; }
.img-5 { grid-area: img-5; }
.img-6 { grid-area: img-6; }
.img-7 { grid-area: img-7; }
.img-8 { grid-area: img-8; }
.img-9 { grid-area: img-9; }
.img-10 { grid-area: img-10; }
.img-11 { grid-area: img-11; }
.img-12 { grid-area: img-12; }

.gallery-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 6px;
  filter: grayscale(.75);
  box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
}

.gallery-img:hover {
  filter: grayscale(0);
  cursor: pointer;
  filter: saturate(1.5);
  transition: filter 1s ease;
}

.image-lightbox {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(45deg, #000000c5, #6755a4c5);
  background-size: 400% 400%;
  -webkit-animation: lightbox-background 22s ease infinite;
  -moz-animation: lightbox-background 22s ease infinite;
  animation: lightbox-background 22s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease-in;
}

/*INICIO Animación fondo lightbox*/
@-webkit-keyframes lightbox-background {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@-moz-keyframes lightbox-background {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@keyframes lightbox-background {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
} /*FIN Animación fondo lightbox*/

.active {
  transform: translateX(0);
}

.img-show {
  width: auto;
  height: 80vh;
  transform: scale(0);
  display: block;
  object-fit: cover;
  transition: transform .2s .4s;
}

.show {
  transform: scale(1);
}

.img-title {
  position: fixed;
  color: #fff;
  font-size: 1.5rem;
  bottom: 40px;
}

.fa-regular.fa-circle-xmark {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .image-gallery-container {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
      "img-1 img-2 img-3"
      "img-4 img-5 img-6"
      "img-7 img-8 img-9"
      "img-10 img-11 img-12"; 
  }

  .img-show {
    width: 90vw;
    height: auto;
  }
  
  .img-title {
    bottom: 80px;
  }
}

@media (max-width: 480px) {
  .image-gallery-container {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7" "img-8" "img-9" "img-10" "img-11" "img-12"; 
  }

  .img-show {
    width: 90vw;
    height: auto;
  }
  
  .img-title {
    bottom: 200px;
  }
}
/* FIN galería y lightbox */

/* INICIO galería de videos */
.video-gallery-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1em 1em; 
  grid-template-areas: 
    "vid-1 vid-2"
    "vid-3 vid-4"
    "vid-5 vid-6";
}

.vid-1 { grid-area: vid-1; }
.vid-2 { grid-area: vid-2; }
.vid-3 { grid-area: vid-3; }
.vid-4 { grid-area: vid-4; }
.vid-5 { grid-area: vid-5; }
.vid-6 { grid-area: vid-6; }

.video-gallery-container .videoYT {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
}

.video-gallery-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .video-gallery-container {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "vid-1"
    "vid-2"
    "vid-3"
    "vid-4"
    "vid-5"
    "vid-6";
  }
}
/* FIN galería de videos */

/*INICIO Footer*/
footer {
  background: #000;
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer h3, label, p {
  color: #fff;
}
footer h3 {
  font-size: 1.5rem;
}

footer div:nth-child(2) > p {
  margin-bottom: 20px;
}

footer label {
  font-size: .9rem;
}

.newsletter-form {
  max-width: 1200px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.logo-footer img {
  width: 150px;
  height: 150px;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #405DAB;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: #6855A4;
}

.div-copyright {
  text-align: center;
  font-size: .8rem;
}

.copyright {
  font-weight: bolder;
  font-size: .95rem;
}

@media (max-width: 800px) {
  footer h3, label, p {
    text-align: center;
  }
  
  footer > section > div:nth-child(2) > p {
    margin-bottom: 20px !important;
  }
  
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/*INICIO divider*/
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}

.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 50%;
  left: 0;
}

.hr:before {
  background: linear-gradient(90deg, #10111f 0%, #10111f 50%, transparent 50%, transparent 100%);
  background-size: 15px;
  background-position: center;
  z-index: 1;
}

.hr:after {
  transition: opacity 0.3s ease, animation 0.3s ease;
  background: linear-gradient(to right, #405DAB 5%, #6855A4 15%, #BCBFDE 25%, #7E5494 35%, #686183 45%, #405DAB 55%, #6855A4 65%, #BCBFDE 75%, #7E5494 85%, #686183 95%);
  background-size: 200%;
  background-position: 0%;
  animation: bar 15s linear infinite;
}

@keyframes bar {
  0% {
    background-position: 0%;
 }
 100% {
    background-position: 200%;
 }
}

.hr.anim:before {
  background: linear-gradient(90deg, #10111f 0%, #10111f 5%, transparent 5%, transparent 10%, #10111f 10%, #10111f 15%, transparent 15%, transparent 20%, #10111f 20%, #10111f 25%, transparent 25%, transparent 30%, #10111f 30%, #10111f 35%, transparent 35%, transparent 40%, #10111f 40%, #10111f 45%, transparent 45%, transparent 50%, #10111f 50%, #10111f 55%, transparent 55%, transparent 60%, #10111f 60%, #10111f 65%, transparent 65%, transparent 70%, #10111f 70%, #10111f 75%, transparent 75%, transparent 80%, #10111f 80%, #10111f 85%, transparent 85%, transparent 90%, #10111f 90%, #10111f 95%, transparent 95%, transparent 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  animation: bar 120s linear infinite;
}

.hr.anim:hover:before {
  animation-duration: 20s;
}

.hr.anim:hover:after {
  animation-duration: 2s;
}/*FIN divider*/
/*FIN Footer*/