* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #405dab;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}

header {}

.sc-main-child {
  width: 100%;
}

.child-one {
  padding: 30px 20px;
}

.text-center {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 6px 2px 10px rgba(0,0,0,1);
  margin-bottom: 20px;
}

/* INICIO iframe Hubble birthday */ 
.hubble-iframe-container {
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  border-radius: 6px;
}

.hubble-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hubble-iframe-container {
    padding-bottom: 85%;
  }
}

@media screen and (min-width: 710px) and (max-width: 722px) {
  .hubble-iframe-container {
    padding-bottom: 130%;
  }
}

@media screen and (min-width: 625px) and (max-width: 709px) {
  .hubble-iframe-container {
    padding-bottom: 150%;
  }
}

@media screen and (min-width: 480px) and (max-width: 624px) {
  .hubble-iframe-container {
    padding-bottom: 160%;
  }
}
/* FIN iframe Hubble birthday */ 

/* INICIO galería y lightbox */
.image-gallery-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1em 1em; 
  grid-template-areas: 
    "img-1 img-2 img-3 img-4"
    "img-5 img-6 img-7 img-8"
    "img-9 img-10 img-11 img-12"; 
}

.img-1 { grid-area: img-1; }
.img-2 { grid-area: img-2; }
.img-3 { grid-area: img-3; }
.img-4 { grid-area: img-4; }
.img-5 { grid-area: img-5; }
.img-6 { grid-area: img-6; }
.img-7 { grid-area: img-7; }
.img-8 { grid-area: img-8; }
.img-9 { grid-area: img-9; }
.img-10 { grid-area: img-10; }
.img-11 { grid-area: img-11; }
.img-12 { grid-area: img-12; }

.gallery-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 6px;
  filter: grayscale(.75);
  box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
}

.gallery-img:hover {
  filter: grayscale(0);
  cursor: pointer;
  filter: saturate(1.5);
  transition: filter 1s ease;
}

.image-lightbox {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(45deg, #000000c5, #6755a4c5);
  background-size: 400% 400%;
  -webkit-animation: lightbox-background 22s ease infinite;
  -moz-animation: lightbox-background 22s ease infinite;
  animation: lightbox-background 22s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease-in;
}

/*INICIO Animación fondo lightbox*/
@-webkit-keyframes lightbox-background {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@-moz-keyframes lightbox-background {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@keyframes lightbox-background {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
} /*FIN Animación fondo lightbox*/

.active {
  transform: translateX(0);
}

.img-show {
  width: auto;
  height: 80vh;
  transform: scale(0);
  display: block;
  object-fit: cover;
  transition: transform .2s .4s;
}

.show {
  transform: scale(1);
}

.img-title {
  position: fixed;
  color: #fff;
  font-size: 1.5rem;
  bottom: 40px;
}

.fa-regular.fa-circle-xmark {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .image-gallery-container {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
      "img-1 img-2 img-3"
      "img-4 img-5 img-6"
      "img-7 img-8 img-9"
      "img-10 img-11 img-12"; 
  }

  .img-show {
    width: 90vw;
    height: auto;
  }
  
  .img-title {
    bottom: 80px;
  }
}

@media (max-width: 480px) {
  .image-gallery-container {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7" "img-8" "img-9" "img-10" "img-11" "img-12"; 
  }

  .img-show {
    width: 90vw;
    height: auto;
  }
  
  .img-title {
    bottom: 200px;
  }
}
/* FIN galería y lightbox */

/* INICIO galería de videos */
.video-gallery-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1em 1em; 
  grid-template-areas: 
    "vid-1 vid-2"
    "vid-3 vid-4"
    "vid-5 vid-6";
}

.vid-1 { grid-area: vid-1; }
.vid-2 { grid-area: vid-2; }
.vid-3 { grid-area: vid-3; }
.vid-4 { grid-area: vid-4; }
.vid-5 { grid-area: vid-5; }
.vid-6 { grid-area: vid-6; }

.video-gallery-container .videoYT {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 16px rgba(0,0,0,0.75);
}

.video-gallery-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .video-gallery-container {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "vid-1"
    "vid-2"
    "vid-3"
    "vid-4"
    "vid-5"
    "vid-6";
  }
}
/* FIN galería de videos */