html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #BCBFDE;
}

.nav {
    width: 100%;
    position: fixed;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 4rem;
}

.nav div.main_list {
    height: 65px;
    float: right;
    font-weight: 700;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2rem;
}

.nav div.main_list ul li a:hover {
    color: #BCBFDE;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}


/* Inicio */

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* ESTA MEDIA QUERY ES PARA PC, SE DEBE COPIAR EN TODOS LOS HEADERS */

@media screen and (min-width: 308px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }

    .img_header {
        height: 272px;
    }

    #cont {
        padding-top: 85%;
    }
}

/* ESTA MEDIA QUERY ES PARA TABLETS */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }


    #cont {
        padding-top: 85%;
    }
}

/* ESTA MEDIA QUERY ES PARA CELULAR*/

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    #cont {
        padding-top: 85%;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

.affix {
    padding: 0;
    background-color: rgba(17, 17, 17, 0.364);
}

#cont {
    padding-top: 25%;
}

.cards-apiNasa {
    font-size: 2rem;
}

@media all and (max-width:700px) {
    .myP {
        padding: 2%;
    }
}

.headerInicio h1 {
    margin: 0;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.473);
    text-align: center;
    font-size: 7rem;
}

.headerInicio {
    color: white;
    background-image: url(../img/header1.png);
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animacion_header;
    animation-duration: 1.5s;
}

.headerBlog {
    color: white;
    background-image: url(../img/header4.png);
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animacion_header;
    animation-duration: 1.s;
}


@keyframes animacion_header {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    25% {
        color: rgba(255, 255, 255, 0.250);
    }

    50% {
        color: rgba(255, 255, 255, 0.500);
    }

    75% {
        color: rgba(255, 255, 255, 0.750);
    }

    100% {
        color: white;
    }
}

/* cards inicio */

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    margin: 40px;
    position: relative;
    max-width: 350px;
    max-height: 450px;
    box-shadow: 0 40px 60px -6px black;
    background-color: #7E5494;
    border-radius: 7px;
}

.card-title {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
}

.card-desc {
    display: block;
    font-size: 1.8rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    transition: 0.8s ease;
    color: #808285;
}

.card:hover .card-desc {
    opacity: 1;
    height: 100%;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #7e54949f;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 0 auto;
    background-color:azure;
    margin-bottom: 5rem;
}

.titulo_inicio {
    font-size: 3.3rem;
    font-weight: 700;
    padding: 3rem 2rem 1rem 2rem;
    color: #7e5494;
    text-decoration: underline 3px;
}

.subtitulo_inicio {
    font-weight: 700;
    font-size: 2rem;
    margin: 0.5rem 2rem;
    color: #808285;
}

.parrafo_inicio {
    font-weight: 300;
    font-size: 1.7rem;
    margin: 1rem 2rem 1rem 2rem;
    color: #808285;
    text-align: justify;
}

.cuerpo {
    padding: 20px;
}

/* BLOG */

#bodyBlog {
    background-color: #686183;
}

.box {
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7rem;
    max-width: 1000px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 40px;
}

.grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
    background-color: #fff;
    padding: 5% 0;
    border-radius: 20px;
}

.grid .text {
    padding: 2rem;
    color: #808285;
    margin-bottom: 20px;
}

.grid .btn {
    margin-top: 20px;
    background-color: #e0d4e9;
    border: 0;
    border-radius: 5px;
    color: #000;
    font-size: 1.3rem;
    padding: 1rem;
    line-height: 5;
    text-decoration: none;
    font-weight: 700;
}

.btn:hover {
    background: #d1d3d4;
    transition-duration: 80ms;
}

article h2 {
    color: #000;
    font-size: 1.8rem;
    margin-top: 2rem;
}

article img {
    width: 100%;
    justify-content: center;
    border-radius: 5%;
    transition: 0.5s;
}

article img:hover {
    filter: saturate(180%) opacity(1)
}

article p {
    font-size: 1.5rem;
}
